/* html {
	font-size: calc(4px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
} */

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.content{
    
 max-width: 1440px;
  margin: auto;
  padding: 10px;
}
h1{
    font-size: 60px;
    font-weight: 700;
    color: #575757 ;
}
h2{
    font-size: 40px;
    font-weight: 700;
}

.f-left{
    float: left;
}
.f-right{
    float: right;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.orange{
    color: #FC954A;
}
.half-width{
    width: 50%;

}
.half-width img{
    width: 60%;
}

.link-btn{ 
    text-decoration: none;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(to right, #FD9A4D,#FE482D);
    /* background-color: orange; */
    padding:20px 45px;
    margin: 60px 0px 30px 0px;
}

.top-section{
    background-color: #FFFFFF;
    background-image: url(images/shapes/top_area_shape.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.top-section > div > p{
    color: #828282;
    margin-bottom: 60px;
}


.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat:  no-repeat;
    background-size: cover;
}
.about-me h2{
    margin-top: 80px;
    color: #707070;
}
.about-me p{
    color: #18191F;
    line-height: 2;
    font-weight: normal;
    margin-bottom: 100px;
}


/* Recipie-area */
.recipie-area{
    background-color: white;
    background-size: cover;
    background-repeat:  no-repeat;
}
.recipie-area h2{
    color: #676767;
    font-size: 36px;
    text-align: center;
}
.recipie-area p{
    color: #252525;
    font-size: 18px;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}
.recipie-item{
    border-radius: 25px;
    width: 30%;
    float: left;
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    padding: 20px;
}
.margin-right{margin-right: 5%;}
.recipie-item img{
    width: 100%;
    border-radius: 25px;
}
.recipie-item h2{
    color: #18191F;
    text-align: left;
    font-size: 28px;
    font-weight: 900;
}
.recipie-item p{
    color: #18191F;
    text-align: left;
    padding: 0px;line-height: 1.5;
    font-size: 18px;
    font-weight: normal;
}
.read_more a{
    color: #FC954A;
    text-decoration: none;
    float: right;
}
.read-link-btn{ 
    text-decoration: none;
    border-radius: 5px;
    border:1px solid #FC954A;
    font-weight: 700;
    background-color: white;
    padding:10px 15px;
    }
/* social area */
.social-area {
    
    height: 226px ;
    border-radius: 25px;
	/* box-shadow: 1px 12px 32px -15px rgba(0, 0, 0, 0.56); */
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
    padding: 20px;
}


.social-item{
    border-radius: 25px;
    width: 30%;
    float: left;
}

.social-item h3{
    color: #18191F;
    font-size: 48px;
    text-align: center;
    font-weight: bold;

}

.social-item p{
    color: #18191F;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

    /* footer area */
footer{
    background-color: #0B0D17;
    height: 258px;
    margin: auto;
}
.footer-content{
    width: 655px;
    margin: auto;
}
footer h3{
    padding-top: 60px;
    text-align: center;
    color: #5B5B5B;
}
footer p {
    padding-top: 10px;
    color: #FFFFFF;
    text-align: center;
}
